<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lesson</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <style>
        img { max-width: 90px; }
    </style>
<div id="app">
    <div class="container">
    <table class="table" v-show="visible">
        <!-- подсчет через methods -->
        <caption>Всего- {{total()}}</caption>
        <thead>
            <tr>
        <!-- подсчет через v-model -->
                <th v-model="users">Всего-{{users.length}}</th>
                <th v-bind:class="{'text-uppercase': uppercaseButton}">Имя</th>
                <th>Фамилия</th>
                <th>Отчесвто</th>
                <th>Аватарка</th>
            </tr>
        </thead>
        <tbody>
             <!-- нужно ли оборачивать в template ? или достаточно тега ? -->
            <template v-for="(user, index) in users" :key="user.img">
            <tr>
                <th>{{index + 1}}</th>
                <!-- vue filter в верхний регистр -->
                <th>{{user.firstName | uppercase}}</th>
                <th >{{user.lastName}}</th>
                <th>{{user.middleName}}</th>
                <th> 
                    <template v-if="user.img">
                        <img :src="user.img" :alt="user.firstName-user.index">
                    </template>
                    <template v-else>
                        <img else :src="noImg" :alt="noImg">
                    </template>
                </th>
            </tr>
            </template>
        </tbody>
    </table>
    <button @click="visible=!visible" type="button" class="btn btn-primary">{{visible?'Скрыть таблицу':'Показать таблицу'}}<small> <hr>Через v-show</small></button>
    <button v-on:click="uppercaseButton=!uppercaseButton" type="button" class="btn btn-secondary m-0">Верхний регистр<small> <hr>Через v-bind:class</small> </button>
    <p v-changestyle>changestyle</p>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js"></script>
</body>
</html>